<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Addition is:: <%= sum %></p>
    <p>Substration is:: <%= sub %></p>
    <p>Multiplication is:: <%= mul %></p>
  </body>
</html>